

body{
    background-color: rgb(255, 255, 255);
    margin:0;
   
}
/*---------------------------------------------------------------------*/
/*                               HEADER                                */
/*---------------------------------------------------------------------*/

.header {
    position: sticky;
    top:0;
    background-color: #ffffff47;
    backdrop-filter: blur(10px);
    color: #fff;
    
  
}

.contenedor_header {
   
    max-width: 1200px;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: auto;
}

.nav_header{
    display: flex;
    gap:1rem;
    text-align: center;

}

.checkbox-menu{
    display: none;
}

.boton_menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.boton_menu span {
    width: 25px;
    height: 3px;
    background-color: #111;
    display: block;
}

/*                             Movil                                */


@media (max-width: 768px) {

  
    .boton_menu {
        display: flex;
    }

   
    .nav_header {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #ffffff;
        flex-direction: column;
        align-items: center;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav_header a {
        padding: 1rem 0;
    }

    .checkbox-menu:checked + .nav_header {
        max-height: 300px;
    }
}


/*---------------------------------------------------------------------*/
/*                              index                                  */
/*---------------------------------------------------------------------*/

.main {
    min-height: 100vh;
    width: 100%;
    background-image: url("./Assets/main.png");
    background-size: cover;       
    background-position: center top;    
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

}


.contenedor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
   
   

}
.contenedor-main img{
    width: 30rem;
    height: auto;

}

.botones_main {
display: flex;
gap: 1rem;

}
.boton-main{
    padding: 0.8rem 1.8rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0 8px 20px #ffffff26;
    backdrop-filter: blur(10px);
  
}

.main h1,
.main p {
    color: white;
}
  