

body{
    background-color: rgb(255, 255, 255);
    margin:0;
    
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
}

h1, h2 {
    font-weight: 700;
    font-size: 50px;
        text-shadow:
        0 0 6px rgba(255, 255, 255, 0.6),
        0 0 12px rgba(255, 255, 255, 0.35);
    

}

   

/*---------------------------------------------------------------------*/
/*                               HEADER                                */
/*---------------------------------------------------------------------*/

.header {
    position: sticky;
    top:0;
    background-color: #ffffff47;
    backdrop-filter: blur(10px);
    color: #fff;
    z-index: 1000;
    
  
}

.contenedor_header {
   
    max-width: 1200px;
    height: 50px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.logo {
    width: 250px;
    height: auto;
}

.nav_header{
    display: flex;
    gap:1rem;
    text-align: center;
    

}
.nav_header a{
    color:rgb(0, 0, 79) ;
    font-weight:500 ;
}

.nav_header a:hover{
    
     color: rgb(255, 165, 0); 
}


.checkbox-menu{
    display: none;
}

.boton_menu {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.boton_menu span {
    width: 25px;
    height: 3px;
    background-color: #111;
    display: block;
}

/*                             Movil                                */


@media (max-width: 768px) {

  
    .boton_menu {
        display: flex;
    }

   
    .nav_header {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

        background-color: #ffffff;
        flex-direction: column;
        align-items: center;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    .nav_header a {
        padding: 1rem 0;
    }

    .checkbox-menu:checked + .nav_header {
        max-height: 300px;
    }
}
/*---------------------------------------------------------------------*/
/*                              footer                                 */
/*---------------------------------------------------------------------*/


.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(0, 0, 79) ;
}

.footer-container p,
.social
{
    padding: 0.6rem 3rem;

}

.material-symbols-outlined {
    color:rgb(0, 0, 79); 
    border-radius:50% ;
    padding: 0.5rem;
}

.footer .social a:hover .material-symbols-outlined {
    color: #ffffff;
    background-color: rgb(255, 165, 0); 
}



/*---------------------------------------------------------------------*/
/*                              index                                  */
/*---------------------------------------------------------------------*/
a {
    text-decoration: none;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-image: url("./Assets/main.png");
    background-size: cover;       
    background-position: center top;    
    background-repeat: no-repeat;  
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 

}

.contenedor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
   

}

.contenedor-main p{
    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.6),
        0 0 12px rgba(255, 255, 255, 0.35);
}

.contenedor-main img{
    width: 30rem;
    height: auto;

}

.botones_main {
display: flex;
gap: 1rem;

}
.boton-main{
    padding: 0.8rem 1.8rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0 8px 20px #ffffff26;
    backdrop-filter: blur(10px);
    transition:transform 0.25s ease,box-shadow 0.25s ease, background 0.25s ease;
  
}
.boton-main:hover {
    color: rgb(88, 88, 88);
    transform: scale(1.08);

    background: rgba(255, 255, 255, 0.9);

    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.566);
}

.main h1,
.main p {
    color: white;
}
  


.scroll-reveal-nave {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: url("./Assets/cielo_estrellado.jpg");
    background-size: cover;       
    background-position: center top;    
    background-repeat: no-repeat; 
}


.escena {
    position: sticky;
    top: 35vh;

    display: flex;
    align-items: center;
    gap: 3rem;

    max-width: 900px;
    margin: 0 auto;
}

.imagen_svg {
    width: 80px;
    height: auto;
    
}

.nave.izquierda {
    animation: entrarIzquierda linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.nave.derecha {
    animation: entrarDerecha linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@keyframes entrarIzquierda {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entrarDerecha {
    from {
        transform: translateX(300px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.texto {
    color: white;
    max-width: 360px;
    text-align: center;

    opacity: 0;
    transform: translateY(40px);

    animation: revelarTexto linear forwards;
    animation-timeline: view();
    animation-range: entry 40% cover 60%;
}

@keyframes revelarTexto {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.nuestros-juegos{
    background-color: rgb(3, 0, 16);

    color: white;
   
}


.contenedor_nuestros_juegos{
    display: flex;
    flex-direction: column;
  text-align: center;

    
    
}

.contenedor_videos{
display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  gap:2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.caja_video{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    

}

.contenedor_videos video{
    
    border-radius: 20px;
}

.como_jugar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 3rem;
    
}

.boton_jugar{
    
    padding: 1rem 2rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0 8px 20px #ffffff26;
    backdrop-filter: blur(10px);
    transition:transform 0.25s ease,box-shadow 0.25s ease, background 0.25s ease;
}

.boton_jugar:hover,.boton_jugar2:hover {
    color: rgb(88, 88, 88);
    transform: scale(1.08);

    background: rgba(255, 255, 255, 0.9);

    box-shadow: 0 12px 30px rgba(255, 255, 255, 0.566);
}

.boton_jugar2{
    padding: 2rem 4rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.6);
    color: white;
    box-shadow: 0 8px 20px #ffffff26;
    backdrop-filter: blur(10px);
    transition: transform 0.25s ease,box-shadow 0.25s ease, background 0.25s ease;
    font-weight: bold;
}




/*----------------------------------------------------------------------------------------------- */
/*                                            CONTACTE                                            */
/*----------------------------------------------------------------------------------------------- */
/*Es un fondo animado degradado que hace que la página de contacto se vea más viva y profesional.*/
.seccion-contacto{
     background-image: url("./Assets/cielo_estrellado.jpg");
    background-size: 120%;       
    background-position: 0% 50%;    
    background-repeat: no-repeat;  
    animation: fondo_contacte 15s ease-in-out infinite;
   
   
}

@keyframes fondo_contacte {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

/*Para el título principal de h2*/
.seccion-contacto h2{
  color: white;
   font-size: 50px;
   letter-spacing: 3px;
     text-shadow:0 0 5px rgba(1, 84, 68, 0.6);
  font-weight: 300;
  margin: 2rem;
  margin-bottom: 4rem;
}
/*Para los paragrafo*/
.seccion-contacto p{
  color: white;
   font-size: 25px;
   letter-spacing: 3px;
   text-shadow:0 0 5px rgba(1, 84, 68, 0.4);
  font-weight: 300;
}
/*Para los enlaceres*/
.seccion-contacto a{
  color: white;
   font-size: 25px;
   letter-spacing: 3px;
  
  font-weight: 300;
}

/*Para el estilo del formulario*/
.contenedor-contacto{
  display:flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
/*Para el estilo del informacion*/
.info-contacto{
  display: flex;
  flex-direction: column;
  gap:1rem
}


/*PMedidas del formulario*/
.formulario-contacto{
  display:flex ;
  flex-direction: column;
  width: 30rem;
  height: 40rem;
  border-radius: 25px;
  justify-content: center;
  padding: 0.7rem;
  
  
  background-color: rgba(1, 124, 110, 0.3);   
  backdrop-filter: blur(5px);
  transition: 
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;

}
/*mapa y estilo del mapa*/
.mapa-contacto {
  position: relative;
  width:50rem;
  height: 300px;  
  border-radius: 16px;
  overflow: hidden;
   box-shadow:0 0 5px rgba(1, 84, 68, 0.4);

}

.mapa-contacto iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  
}

  input,textarea {
    padding: 0.7rem;
    border:none;
    background-color: #ffffff;
    border-radius: 6px;
    transition: 0.2s ease;
    margin-bottom: 2.5rem;     
}


 

.formulario-contacto button{
  align-self:  center;
display: flex;
justify-content: center;
 height: 50px;
 width: 110px;
 border:none;
 background-color: rgb(1, 124, 110);   
 border-radius: 6px;
 transition: 0.2s ease;
 margin-bottom: 2.5rem; 
 color: white;
font-size:  18px; 
letter-spacing: 2px;
font-weight: 500;
}
input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="number"]:invalid  {
border: 1px solid rgb(182, 0, 0);

    
}

.formulario-contacto button:hover{
   background-color: rgb(0, 68, 60);  

   cursor: pointer;
  transform: scale(1.02);    

}


input:hover, textarea:hover{
     cursor: pointer;
     background-color: #45416ab3; 

}
input:focus,textarea:focus {
    outline: none;
    box-shadow: 0 0 3px #ffffff;
    background-color: white;
    transform: scale(1.03);    
}

label{
  color: white;
  font-size:  18px; 
  text-shadow:0 0 8px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  font-weight: 500;
}

/*----------------------MOVIL----------------------*/


@media (max-width: 768px) {

  /* TÍTULOS */
  .seccion-contacto h2 {
    font-size: 32px;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    text-align: center;
  }

  .seccion-contacto p,
  .seccion-contacto a {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
  }

  
  .contenedor-contacto {
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 5rem;
  }

 
  .info-contacto {
    align-items: center;
    text-align: center;
  }

  
  .formulario-contacto {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 1.2rem;
  }

  
  input,
  textarea {
    font-size: 16px;
    margin-bottom: 1.8rem;
  }


  .formulario-contacto button {
    width: 100%;
    max-width: 180px;
    height: 45px;
    font-size: 16px;
  }

  .mapa-contacto {
    width: 100%;
    max-width: 320px;
    height: 220px;
  }
}


